<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >

    <listeners>
        <listener class-name="project.Utilities.SuitListeners">
        </listener>
    </listeners>

    <test name="ChromeTest" >
        <parameter name="browser" value="chrome"/>
        <classes>

            <class name="TestCase.EndToEndTest">
                <methods>
                    <include name="endToEndTest"/>
                </methods>
            </class>

            <class name="TestCase.AddToCartPageTest">
                <methods>
                    <include name="addToCartTest"/>
                </methods>
            </class>

            <class name="TestCase.SearchResultPageTest">
                <methods>
                    <include name="productAvailabilityTest"/>
                </methods>
            </class>



            <class name="TestCase.AccountCreationPageTest">
                <methods>
                    <include name="verifyCreateAccountPageTest"/>
                </methods>
            </class>

            <class name="TestCase.HomePageTest">
                <methods>
                    <include name="wishListTest"/>
                    <include name="orderHistoryAndDetailsTest"/>
                </methods>
            </class>
            <class name="TestCase.SampleTest">
                <methods>
                    <include name="sampleLogin"/>
                </methods>
            </class>
            <class name="TestCase.IndexPageTest">
                <methods>
                    <include name="verifyLogo"/>
                    <include name="verifyTitle"/>
                </methods>
            </class>
        </classes>
    </test>


</suite>