<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="3">

    <listeners>
        <listener class-name="project.Utilities.SuitListeners">
        </listener>
    </listeners>

    <test name="ChromeTest" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="TestCase.SampleTest">
                <methods>
                    <include name="sampleLogin"/>
                </methods>
            </class>
        </classes>
    </test>


</suite>